<form ng-submit="commit()">
  <p>
    <input type="text" name="title" id="note_title" placeholder="Title your note" ng-model="note.title" focus-on="noteCleared">
  </p>
  <p>
    <text-angular
      name="body_html"
      ng-model="note.body_html"
      ta-toolbar="[
        ['bold', 'italics', 'underline'],
        ['ul', 'ol', 'indent', 'outdent'],
        ['html'],
        ['insertLink']]"
      placeholder="Just start typing..."></text-angular>
  </p>
  <div class="form-actions">
    <input type="submit" name="commit" value="{{ buttonText(note) }}" class="btn btn-default">
    <a ng-click="deleteNote()" ng-show="note.id">
      <i class="fa fa-trash-o"></i>
    </a>
  </div>
</form>
